* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  background: linear-gradient(20deg, rgb(33, 33, 33), rgb(66, 66, 66));
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url(./fonts/Poppins-Black.ttf) format("truetype");
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #63ace5;
}

h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 70;
}

h2 {
  font-size: 2rem;
  font-weight: 50;
}

span {
  font-size: 1.5rem;
}

section {
  height: 100vh;
  padding: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

section ul {
  text-align: left;
  list-style: none;
}

footer {
  border-top: 1.5px solid rgba(98, 90, 90, 0.5);
  text-align: center;
  padding: 1.5rem 0;
  background: linear-gradient(20deg, rgb(57, 55, 55), rgb(66, 66, 66));
}

.experience-vertical-line {
  /* height: 8rem; */
  padding-left: 2rem;
  border-left: 1px solid white;
}

.black {
  background-color: rgb(33 33 33);
  transition: 0.5s ease-in-out;
  opacity: 0.97;
}

.no-black {
  transition: 0.5s ease-in-out;
}

.technology-stack img {
  height: 8rem;
  width: 8rem;
}

.technology-stack img:hover {
  scale: 1.2;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.white .technology-stack {
  background-color: #fff;
  padding: 4rem;
}

.work-link {
  color: #63ace5;
}

.work-link:hover {
  cursor: pointer;
}
